<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Fontspring-DEMO-theseasons-bd.otf</string>
		<string>Fontspring-DEMO-theseasons-bdit.otf</string>
		<string>Fontspring-DEMO-theseasons-it.otf</string>
		<string>Fontspring-DEMO-theseasons-lt.otf</string>
		<string>Fontspring-DEMO-theseasons-ltit.otf</string>
		<string>Fontspring-DEMO-theseasons-reg.otf</string>
		<string>DejaVuSerif-Bold.ttf</string>
		<string>DejaVuSerif-BoldItalic.ttf</string>
		<string>DejaVuSerif-Italic.ttf</string>
		<string>DejaVuSerif.ttf</string>
		<string>DejaVuSerifCondensed-Bold.ttf</string>
		<string>DejaVuSerifCondensed-BoldItalic.ttf</string>
		<string>DejaVuSerifCondensed-Italic.ttf</string>
		<string>DejaVuSerifCondensed.ttf</string>
		<string>Faustina-Bold.ttf</string>
		<string>Faustina-BoldItalic.ttf</string>
		<string>Faustina-ExtraBold.ttf</string>
		<string>Faustina-ExtraBoldItalic.ttf</string>
		<string>Faustina-Italic-VariableFont_wght.ttf</string>
		<string>Faustina-Italic.ttf</string>
		<string>Faustina-Light.ttf</string>
		<string>Faustina-LightItalic.ttf</string>
		<string>Faustina-Medium.ttf</string>
		<string>Faustina-MediumItalic.ttf</string>
		<string>Faustina-Regular.ttf</string>
		<string>Faustina-SemiBold.ttf</string>
		<string>Faustina-SemiBoldItalic.ttf</string>
		<string>Faustina-VariableFont_wght.ttf</string>
		<string>Sansita-Black.ttf</string>
		<string>Sansita-BlackItalic.ttf</string>
		<string>Sansita-Bold.ttf</string>
		<string>Sansita-BoldItalic.ttf</string>
		<string>Sansita-ExtraBold.ttf</string>
		<string>Sansita-ExtraBoldItalic.ttf</string>
		<string>Sansita-Italic.ttf</string>
		<string>Sansita-Regular.ttf</string>
	</array>
</dict>
</plist>
